.option-forms{
    border: 2px solid #0f5fa5;
   
    .fill-form{
        background-color: #0f5fa5;
        color: #fff;
    }
}
.option-forms span{
text-align: center ;
}
.form-desc{
    color: #687384;
}