<div class="m-2">
    <div class="container py-2 vh-100 bg-white-content">
      <div class="title-version">
        <div class="title d-sm-flex align-items-end">
          <p class="fw-bold blue-color">Add Employee</p>
          <p class="form-desc small-f-12 ms-md-3">Last Date Modified Today</p>
        </div>
      </div>
      <!-- option-forms  -->
      <div class="responses">
        <div class="d-none d-lg-block w-50">
          <div
            class="d-flex justify-content-around option-forms rounded-pill p-1"
          >
            <span class="col-md-4 rounded-pill">Fill Form</span>
            <span class="col-md-4 fill-form rounded-pill">Responses</span>
            <span class="col-md-4 rounded-pill">Version</span>
          </div>
        </div>
      </div>
      <!-- option-forms responve -->
      <div class="responses">
        <div class="d d-lg-none w-50 row option-forms rounded p-1">
          <span class="col-md-4 rounded-pill">Fill Form</span>
          <span class="col-md-4 fill-form rounded-pill">Responses</span>
          <span class="col-md-4 rounded-pill">Version</span>
        </div>
      </div>
     <!-- form versions  -->
     <div class="row  ">
        <div class="col-sm-6 col-lg-3  my-3  ">
           <div class="card ">
            <div class=" py-4 d-flex justify-content-center">
      
                <img src="assets/icons-forms/forms.png" alt="form icon">
              </div>
              <div class="ps-2">
                <p class="blue-color fw-semibold">Add Employee</p>
                <p class="form-desc small-f-12">Last Date Modified Today</p>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-lg-3  my-3  ">
            <div class="card ">
             <div class=" py-4 d-flex justify-content-center">
       
                 <img src="assets/icons-forms/forms.png" alt="form icon">
               </div>
               <div class="ps-2">
                 <p class="blue-color fw-semibold">Add Employee</p>
                 <p class="form-desc small-f-12">Last Date Modified Today</p>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-lg-3  my-3  ">
            <div class="card ">
             <div class=" py-4 d-flex justify-content-center">
       
                 <img src="assets/icons-forms/forms.png" alt="form icon">
               </div>
               <div class="ps-2">
                 <p class="blue-color fw-semibold">Add Employee</p>
                 <p class="form-desc small-f-12">Version 10 - 11 - 2022</p>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-lg-3  my-3  ">
            <div class="card ">
             <div class=" py-4 d-flex justify-content-center">
       
                 <img src="assets/icons-forms/forms.png" alt="form icon">
               </div>
               <div class="ps-2">
                 <p class="blue-color fw-semibold">Add Employee</p>
                 <p class="form-desc small-f-12">Version 10 - 11 - 2022</p>
               </div>
            </div>
         </div>
     </div>
    </div>
  </div>
