<div class="p-3">
    <div class=" container bg-white-content  py-3">
        <div class="header-version">
               <div class="back-to-versions">
                <span class="pe-3 pointer"><i class="fa-solid fa-arrow-left"></i></span>
                <span class="fw-normal pointer" >Versions</span>
               </div>
               <div class=" my-3"> 
                <div class="title-version mt-2">
                    <div class="title d-sm-flex align-items-end">
                      <p class="fw-bold blue-color">Add Employee</p>
                      <p class="form-desc small-f-12 px-sm-3">Version 10 - 11 - 2022</p>
                    </div>
                  </div>
                  <!-- option-forms  -->
                  <div class="responses">
                    <div class="d-none d-lg-block w-25">
                      <div
                        class="d-flex justify-content-around option-forms rounded-pill"
                      >
                        <span class="col-md-6 option-selected rounded-pill"> Form</span>
                        <span class="col-md-6   rounded-pill">Responses</span>
                      
                      </div>
                    </div>
                  </div>
                  <!-- option-forms responve -->
                  <div class="responses">
                    <div class="d d-lg-none w-50 row option-forms rounded ">
                      <span class="col-md-6 option-selected rounded-pill"> Form</span>
                      <span class="col-md-6  rounded-pill">Responses</span>
                     
                    </div>
                  </div>
               </div>
        </div>
 

        <div class="form">
            <div class=" px-3  my-2">
                <div class="type-text card bg-white-content p-2 my-3">
                  <div class="">
                    <div>
                      <span>Title</span>
                      <span class="required-mark mx-2">*</span>
              
                  </div>
                  <div class="Answer-text mb-3 mt-2 px-3">
                    <div class="">
                      <input
                        type="text"
                        class="form-control shadow-none"
                        placeholder="Text Answer"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="type-Checkbox px-3 card my-2">
                <div class="bg-white-content p-1 my-2">
                  <div class="">
                    <div>
                      <span>Checkbox</span>
                      <span class="required-mark mx-2">*</span>
                    </div>
                  
                  </div>
                  <div class="Answer-Checkbox mb-2 mt-2 px-3">
                    <div class="">
                      <div class="form-check my-2">
                        <input
                          class="form-check-input shadow-none"
                          type="checkbox"
                          value=""
                          id="option-1"
                        />
                        <label class="form-check-label" for="option-1">
                          option 1
                        </label>
                      </div>
                      <div class="form-check my-2">
                        <input
                          class="form-check-input shadow-none"
                          type="checkbox"
                          value=""
                          id="option-2"
                        />
                        <label class="form-check-label" for="option-2">
                          option 2
                        </label>
                      </div>
                      <div class="form-check my-2">
                        <input
                          class="form-check-input shadow-none"
                          type="checkbox"
                          value=""
                          id="option-3"
                        />
                        <label class="form-check-label" for="option-3">
                          option 3
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="type-RadioButton px-3 card my-2">
                <div class="bg-white-content p-2 my-3">
                  <div class="">
                    <div>
                      <span>Radio Button</span>
                      <span class="required-mark mx-2">*</span>
                    </div>
                
                  </div>
                  <div class="Answer mb-3 mt-2 px-3">
                    <div class="">
                      <div class="form-check my-2">
                        <input
                          class="form-check-input shadow-none"
                          type="radio"
                          name="radioButton-type"
                          id="radio-option1"
                        />
                        <label class="form-check-label" for="radio-option1">
                          option 1
                        </label>
                      </div>
                      <div class="form-check my-2">
                        <input
                          class="form-check-input shadow-none"
                          type="radio"
                          name="radioButton-type"
                          id="radio-option2"
                        />
                        <label class="form-check-label" for="radio-option2">
                          option 2
                        </label>
                      </div>
                      <div class="form-check my-2">
                        <input
                          class="form-check-input shadow-none"
                          type="radio"
                          name="radioButton-type"
                          id="radio-option3"
                        />
                        <label class="form-check-label" for="radio-option3">
                          option 3
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

    </div>
</div>
//npm uninstall @angular/material