<form [formGroup]="createFieldForm">
  <div
    formArrayName="fieldType"
    *ngFor="let input of fieldTypeArray.controls; let i = index"
  >
    <div class="dropdown-type">
      <div class="d-flex align-items-center">
        <span class="px-3">{{ i + 1 }}</span>
        <input
          [formControlName]="i"
          [class.is-invalid]="input?.invalid"
          [placeholder]='"option " + (i +1)'
          class="form-control w-50 shadow-none answer-text-input"
          type="Text"
        />
        <button
          (click)="deleteOption(i)"
          class="btn-close shadow-none small-f-10 px-2"
        ></button>
      </div>
    </div>
  </div>
  <!--  btn to create another option type = checkbox -->

  <div class="d-flex align-items-center">
    <i class="fa-solid fa-plus"></i>
    <button
      (click)="addAnotherOption()"
      class="btn fw-semibold text-primary small-f-14"
    >
      Add option
    </button>
  </div>
</form>
