<div class="row my-4 ">
  <div class="col-md-6">
    <div class="p-2 card">
        <p class="unpaid">unpaid subscription</p>
      <table class="table ">
        <thead>
          <tr>
            <th class="table-head" scope="col ">Tenant Name</th>
            <th class="table-head" scope="col">End data</th>
            <th class="table-head" scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>15 Days</td>
            <td class=" text-danger">73 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>33 Days</td>
            <td class=" text-danger">33 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>44 Days</td>
            <td class=" text-danger">55 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>44 Days</td>
            <td class=" text-danger">55 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>44 Days</td>
            <td class=" text-danger">55 $</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="p-2 card">
        <p class="paid">paid subscription</p>
      <table class="table ">
        <thead>
         
          <tr>
            <th class="table-head" scope="col">Tenant Name</th>
            <th class="table-head" scope="col"> Data</th>
            <th class="table-head" scope="col">Amount</th>
          </tr>
        </thead>
     
        <tbody>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>15 Days</td>
            <td class=" text-primary">73 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>33 Days</td>
            <td class=" text-primary">33 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>44 Days</td>
            <td class=" text-primary">55 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>44 Days</td>
            <td class=" text-primary">55 $</td>
          </tr>
          <tr>
            <td><img src="assets/icons/Avatar.png" alt="Avatar"> Mark</td>
            <td>44 Days</td>
            <td class=" text-primary">55 $</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
