.type-fileds{
    background-color: #f1f1f1;
    color: #2e2e2e;
    padding: 10px;
    width: 220px;
    border: 1px solid #dadce0 !important;
  }

.field-edit{
  width: 220px;
}
.dropdown-menu {
max-height: 100px;
overflow-y: auto;
}
