<div *ngIf="action == 'create'; then create; else list"></div>

<ng-template #create>
  <div>
    <!-- no body for create  -->
  </div>
</ng-template>
<ng-template #list>
  <!-- display field -->
  <div *ngIf="field">
    <div class="bg-white-content p-2 my-3">
      <!-- head of field -->
      <div class="d-flex justify-content-between">
        <div class="title-field">
          <span>{{ field.title[langField] }}</span>
          <span>{{ field.id }} ---</span>
          <span>{{ field.type }}</span>
          <span *ngFor="let item of field.some_requirements">
            <i
              *ngIf="item == 'Required'"
              class="fa-solid fa-asterisk mx-2 text-danger small-f-10"
            ></i>
          </span>
        </div>
        <div>
          <i
            (click)="updateField(field)"
            class="fa-sharp fa-solid fa-pen-to-square pointer"
          ></i>
        </div>
      </div>
      <!-- body of field -->

      <div class="Answer-TimePicker my-3 px-3">
        <div class="form-group">
          <input
            type="text"
            placeholder="00:00"
            class="form-control"
            onfocus="(this.type='time')"
          />
        </div>
      </div>
   <!-- <input class="form-control" type="time"> -->

    </div>
  </div>
</ng-template>
