.title {
    margin: 11px 24px 28px 0;
    font-size: 19px;
    font-weight: 600 !important;
    color: #0f5fa5;
  }
  .title-form{
    font-size: 19px;
    color: #202124;
    font-weight: bold;
  }
.form-add{
  background-color: #0f5fa5 !important;
}