<div class="container">
  <div class="container bg-white-content">
    <div class="title-response">
      <div class="title d-sm-flex align-items-end">
        <p class="fw-bold blue-color">Add Employee</p>
        <p class="form-desc small-f-12 ms-md-3">Last Date Modified Today</p>
      </div>
    </div>
    <!-- option-forms  -->
    <div class="responses">
      <div class="d-none d-lg-block w-50">
        <div
          class="d-flex justify-content-around option-forms rounded-pill p-1"
        >
          <span class="col-md-4 rounded-pill">Fill Form</span>
          <span class="col-md-4 fill-form rounded-pill">Responses</span>
          <span class="col-md-4 rounded-pill">Version</span>
        </div>
      </div>
    </div>
    <!-- option-forms responve -->
    <div class="responses">
      <div class="d d-lg-none w-50 row option-forms rounded p-1">
        <span class="col-md-4 rounded-pill">Fill Form</span>
        <span class="col-md-4 fill-form rounded-pill">Responses</span>
        <span class="col-md-4 rounded-pill">Version</span>
      </div>
    </div>
    <!-- fillter-forms responses -->
    <div class="my-2">
      <app-filter-response></app-filter-response>
    </div>
    <!-- list-forms responses -->
    <div>
      <app-list-response></app-list-response>
    </div>
  </div>
</div>
