<div class="m-4">
  <div class=" container my-2 py-3 bg-white-content">
    <div class="d-flex justify-content-between ">
      <div class="title   d-sm-flex align-items-end ">
        <p class="fw-bold blue-color">Add Employee</p>
        <p class="form-desc small-f-12 ms-3">Last Date Modified Today</p>
      </div>
      <div class="d-sm-flex">
        <button class="btn me-2 h-sm-100   text-danger border-danger rounded-1" >
            <img class="pe-1 " src="assets/icons-forms/cancel.png" alt="add" /> Cancelee
          </button>
        <button class="btn btn-primary btn-new rounded-1  h-sm-100" >
          <img class="pe-1" src="assets/icons/add.png" alt="add" /> save
        </button>
      </div>
    </div>
   <div class="container-fluid">

    <div *ngIf="fieldsForm.length > 0">
      
    </div>
    <div class="type-text px-3 card my-2">
      <div class="bg-white-content p-2 my-3">
        <div>
          <div>
            <span>Title</span>
            <span class="required-mark mx-2">*</span>
          </div>

        </div>
        <div class="Answer-text mb-3 mt-2 px-3">
          <div class="">
            <input
              type="text"
              class="form-control shadow-none"
              placeholder="Text Answer"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="type-Checkbox px-3 card my-2">
      <div class="bg-white-content p-1 my-2">
        <div class="">
          <div>
            <span class="title_field">Checkbox</span>
            <span class="required-mark mx-2">*</span>
          </div>

        </div>
        <div class="Answer-Checkbox mb-2 mt-2 px-3">
          <div class="">
            <div class="form-check my-2">
              <input
                class="form-check-input shadow-none"
                type="checkbox"
                value=""
                id="option-1"
              />
              <label class="form-check-label" for="option-1"> option 1 </label>
            </div>
            <div class="form-check my-2">
              <input
                class="form-check-input shadow-none"
                type="checkbox"
                value=""
                id="option-2"
              />
              <label class="form-check-label" for="option-2"> option 2 </label>
            </div>
            <div class="form-check my-2">
              <input
                class="form-check-input shadow-none"
                type="checkbox"
                value=""
                id="option-3"
              />
              <label class="form-check-label" for="option-3"> option 3 </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="type-RadioButton px-3 card my-2">
      <div class="bg-white-content p-2 my-3">
        <div class="">
          <div>
            <span>Radio Button</span>
            <span class="required-mark mx-2">*</span>
          </div>

        </div>
        <div class="Answer mb-3 mt-2 px-3">
          <div class="">
            <div class="form-check my-2">
              <input
                class="form-check-input shadow-none"
                type="radio"
                name="radioButton-type"
                id="radio-option1"
              />
              <label class="form-check-label" for="radio-option1">
                option 1
              </label>
            </div>
            <div class="form-check my-2">
              <input
                class="form-check-input shadow-none"
                type="radio"
                name="radioButton-type"
                id="radio-option2"
              />
              <label class="form-check-label" for="radio-option2">
                option 2
              </label>
            </div>
            <div class="form-check my-2">
              <input
                class="form-check-input shadow-none"
                type="radio"
                name="radioButton-type"
                id="radio-option3"
              />
              <label class="form-check-label" for="radio-option3">
                option 3
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

  </div>

</div>
