<div class="my-4">
  <div class="d-flex justify-content-between py-4">
    <div class="field-edit">
      <div
        class="form-select w-100 shadow-none rounded-0 py-2"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        All
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="pointer dropdown-item">
          <span #text>Add Employee</span>
        </li>
        <li class="pointer dropdown-item">
          <span #text>Test</span>
        </li>
        <li class="pointer dropdown-item">
          <span #text>Test</span>
        </li>
        <li class="pointer dropdown-item">
          <span #text>Test</span>
        </li>
        <li class="pointer dropdown-item">
          <span #text>Test</span>
        </li>
      </ul>
    </div>
    <div class="filter-btn">
      <button class="btn btn-primary rounded-1 py-2 btn-new">
        Filter <img class="ps-4" src="assets/icons/filter.png" alt="filter" />
      </button>
    </div>
  </div>
</div>
