<div class="row justify-content-around my-3">
  <div class="card col-5 col-md-2 col-sm-4 m-2 listItem">
    <div class="card-body">
      <h5 class="card-title">Tenants</h5>
      <h6 class="card-subtitle mb-2">100</h6>
    </div>
  </div>
  <div class="card col-5  col-md-2 col-sm-4 m-2 border-0 ">
    <div class="card-body">
      <h5 class="card-title">Users</h5>
      <h6 class="card-subtitle mb-2">100</h6>
    </div>
  </div>
  <div class="card col-5  col-md-2 col-sm-4 m-2 listItem">
    <div class="card-body">
      <h5 class="card-title">Roles</h5>
      <h6 class="card-subtitle mb-2">100</h6>
    </div>
  </div>
  <div class="card col-5  col-md-2 col-sm-4 m-2 border-0 ">
    <div class="card-body">
      <h5 class="card-title">Revenue</h5>
      <div class=" d-flex justify-content-between  ">
        <h6 class="">100</h6>
       <div>
        <span class="s-text"  >-12%</span>
        <span> <img src="assets/icons/ArrowFall.png" alt="ArrowFall"></span>
       </div>

      </div>
    
    </div>
  </div>
  <div class="card col-5  col-md-2 col-sm-4 m-2 listItem">
    <div class="card-body">
      <h5 class="card-title">Growth</h5>
      <div class=" d-flex justify-content-between  ">
        <h6 class="">100</h6>
       <div>
        <span class="s-text">+12%</span>
        <span> <img src="assets/icons/ArrowRise.png" alt="ArrowFall"></span>
       </div>

      </div>
    </div>
  </div>
</div>
