<div>
  <div class="d-flex justify-content-between py-3">
    <div class="title">
      <h5 class="fw-bold">Add new tenant</h5>
    </div>
    <div class="new-btn">
      <button
        class="btn btn-primary rounded-1 btn-new"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addModal"
      >
        <img class="pe-2" src="assets/icons/add.png" alt="add" /> new
      </button>
    </div>
  </div>

  <!-- Modal -->



  <div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title title-form" id="exampleModalLabel">
            New Tenant
          </h5>
        </div>
        <div class="alert alert-danger text-center" *ngIf="errors">
          <div *ngFor="let error of errors.email">
            <p>{{ error }}</p>
          </div>
          <div *ngFor="let error of errors.phone">
            <p>{{ error }}</p>
          </div>
          <div *ngFor="let error of errors.domain">
            <p>{{ error }}</p>
          </div>
          <div *ngFor="let error of errors.password">
            <p>{{ error }}</p>
          </div>
          <div *ngFor="let error of errors.name">
            <p>{{ error }}</p>
          </div>
        </div>
        <div class="modal-body">
          <div>
            <form [formGroup]="addNewTenant">
              <div class="row">
                <div class="mb-3 col-sm-6">
                  <input
                    [class.is-invalid]="
                      tenantName?.invalid && tenantName?.touched
                    "
                    type="text"
                    class="form-control border-0 bg-light p-3"
                    formControlName="name"
                    id="tenantName"
                    placeholder="Name"
                    name="tenantName"
                  />
                  <div *ngIf="tenantName?.invalid && tenantName?.touched">
                    <p
                      *ngIf="tenantName?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      name is required
                    </p>
                    <p
                      *ngIf="tenantName?.errors?.['pattern'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                    name must be 3 letters or more
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <input
                    [class.is-invalid]="
                      tenantEmail?.invalid && tenantEmail?.touched
                    "
                    type="email"
                    class="form-control border-0 bg-light p-3"
                    id="tenantEmail"
                    placeholder="Email"
                    formControlName="email"
                    name="tenantEmail"
                  />
                  <div *ngIf="tenantEmail?.invalid && tenantEmail?.touched">
                    <p
                      *ngIf="tenantEmail?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Email is required
                    </p>
                    <p
                      *ngIf="tenantEmail?.errors?.['pattern'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      email must match this " example@gmail.com"
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <select
                    class="form-select border-0 bg-light p-3"
                    [class.is-invalid]="
                      tenantStatus?.invalid && tenantStatus?.touched
                    "
                    formControlName="status"
                    name="tenantStatu"
                  >
                    <option value="" disabled selected hidden>stutes</option>
                    <option value="Disabled">Disabled</option>
                    <option value="Active">Active</option>
                  </select>
                  <div *ngIf="tenantStatus?.invalid && tenantStatus?.touched">
                    <p
                      *ngIf="tenantStatus?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Status is required
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <select
                    class="form-select border-0 bg-light p-3"
                    [class.is-invalid]="
                      tenantPlan?.invalid && tenantPlan?.touched
                    "
                    formControlName="plan"
                    name="tenantPlan"
                  >
                    <option value="" disabled selected hidden>Plan</option>
                    <option value="Free">Free</option>
                    <option value="Enterprise">Enterprise</option>
                    <option value="Business">Business</option>
                    <option value="Starter">Starter</option>
                    <option value="Premium">Premium</option>
                  </select>
                  <div *ngIf="tenantPlan?.invalid && tenantPlan?.touched">
                    <p
                      *ngIf="tenantPlan?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Plan is required
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <select
                    class="form-select border-0 bg-light p-3"
                    [class.is-invalid]="
                      tenantIndustryType?.invalid && tenantIndustryType?.touched
                    "
                    formControlName="industry_type"
                    name="tenantIndustryType"
                  >
                    <option value="" disabled selected hidden>
                      Industry type
                    </option>
                    <option value="ERP">ERP</option>
                    <option value="Schools">School</option>
                    <option value="Health">Health</option>
                    <option value="Retail">Retail</option>
                  </select>
                  <div
                    *ngIf="
                      tenantIndustryType?.invalid && tenantIndustryType?.touched
                    "
                  >
                    <p
                      *ngIf="tenantIndustryType?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Industry is required
                    </p>
                  </div>
                </div>

                <div class="mb-3 col-sm-6">
                  <select
                    class="form-select border-0 bg-light p-3"
                    [class.is-invalid]="
                      tenantAssignedEmployee?.invalid &&
                      tenantAssignedEmployee?.touched
                    "
                    formControlName="assigned_id"
                    name="tenantAssignedEmployee"
                  >
                    <option value="" disabled selected hidden>
                      Assigned Employee
                    </option>
                    <option *ngFor="let user of users.data" value={{user.id}}>{{user.name}}</option>

                  </select>
                  <div
                    *ngIf="
                      tenantAssignedEmployee?.invalid &&
                      tenantAssignedEmployee?.touched
                    "
                  >
                    <p
                      *ngIf="tenantAssignedEmployee?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Assigned Employee is required
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <input
                    [class.is-invalid]="
                      tenantDomain?.invalid && tenantDomain?.touched
                    "
                    type="text"
                    class="form-control border-0 bg-light p-3"
                    formControlName="domain"
                    id="tenantDomain"
                    placeholder="domain"
                    name="tenantDomain"
                  />
                  <div *ngIf="tenantDomain?.invalid && tenantDomain?.touched">
                    <p
                      *ngIf="tenantDomain?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      domain is required
                    </p>
                    <p
                      *ngIf="tenantDomain?.errors?.['pattern'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                    domain must be valid domain
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <input
                    [class.is-invalid]="
                      tenantPhone?.invalid && tenantPhone?.touched
                    "
                    type="text"
                    class="form-control border-0 bg-light p-3"
                    formControlName="phone"
                    id="tenantPhone"
                    placeholder="Phone"
                    name="tenantPhone"
                  />
                  <div *ngIf="tenantPhone?.invalid && tenantPhone?.touched">
                    <p
                      *ngIf="tenantPhone?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Phone is required
                    </p>
                    <p
                      *ngIf="tenantPhone?.errors?.['pattern'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Phone must match last than 3 car
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <input
                    [class.is-invalid]="
                      tenantPassword?.invalid && tenantPassword?.touched
                    "
                    type="password"
                    class="form-control border-0 bg-light p-3"
                    formControlName="password"
                    id="tenantPassword"
                    placeholder="password"
                    name="tenantPassword"
                  />
                  <div
                    *ngIf="tenantPassword?.invalid && tenantPassword?.touched"
                  >
                    <p
                      *ngIf="tenantPassword?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Password is required
                    </p>
                    <p
                      *ngIf="tenantPassword?.errors?.['pattern'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                      Password must match last than 8 digt
                    </p>
                  </div>
                </div>
                <div class="mb-3 col-sm-6">
                  <input
                    [class.is-invalid]="
                      tenantCPassword?.invalid && tenantCPassword?.touched
                    "
                    type="password"
                    class="form-control border-0 bg-light p-3"
                    formControlName="password_confirmation"
                    id="tenantCPassword"
                    placeholder="password confirmation"
                    name="tenantCPassword"
                  />
                  <div
                    *ngIf="tenantCPassword?.invalid && tenantCPassword?.touched"
                  >
                    <p
                      *ngIf="tenantCPassword?.errors?.['required'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                    password confirmation is required
                    </p>
                    <p
                      *ngIf="tenantCPassword?.errors?.['pattern'] "
                      class="text-danger p-2 my-1 small-f-12"
                    >
                    password confirmation not match password
                    </p>
                  </div>
                </div>
              </div>
              <div class="modal-footer border-0">
                <button type="button" #closeModal class="btn" data-bs-dismiss="modal">
                  Cancel
                </button>
                <button
                *ngIf="spinner; else loading"
                  type="submit"
                  class="btn btn-primary px-4 rounded-1"
                  (click)="getNewTenant()"
                  [disabled]="addNewTenant.invalid"
                >
                  <img class="ps-2" src="assets/icons/check.png" alt="check" />
                  Add
                </button>
                <ng-template #loading>
                  <span  class="spinner-border spinner-border-sm text-info"></span>
                </ng-template>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

</div>
</div>
