<div *ngIf="fields.data">
  <div *ngFor="let field of fields.data">
    <!-- display field when type  = text en  -->
    <div *ngIf="field.type == 'Text'">
      <app-text
       action="viwe"
       [field]="field"
       [switchLangField]="switchLangField"
      [fields]="fields"
      [updateField]="updateField"
      [fieldTypeArray]="fieldTypeArray"
      [setFieldType]="setFieldType"
      [selectedField]="selectedField"
      [deleteOption]="deleteOption"
      [createFieldForm]="createFieldForm"
      [addAnotherOption]="addAnotherOption"
      [setOptionsToUpdataField]="setOptionsToUpdataField"
      ></app-text>
    </div>

    <!-- display field when type  = checkbox   -->

    <div *ngIf="field.type == 'Checkbox'">
      <app-checkbox

        action="viwe"
        [field]="field"
        [fields]="fields"
        [updateField]="updateField"
        [fieldTypeArray]="fieldTypeArray"
        [setFieldType]="setFieldType"
        [selectedField]="selectedField"
        [deleteOption]="deleteOption"
        [createFieldForm]="createFieldForm"
        [addAnotherOption]="addAnotherOption"
        [setOptionsToUpdataField]="setOptionsToUpdataField"
        [switchLangField]="switchLangField"

      ></app-checkbox>
    </div>
     <!-- display field when type  = Radio Button   -->
    <div *ngIf="field.type == 'Radio Button'">
      <app-radiobutton
        action="viwe"
        [field]="field"
        [fields]="fields"
        [updateField]="updateField"
        [fieldTypeArray]="fieldTypeArray"
        [setFieldType]="setFieldType"
        [selectedField]="selectedField"
        [deleteOption]="deleteOption"
        [createFieldForm]="createFieldForm"
        [addAnotherOption]="addAnotherOption"
        [setOptionsToUpdataField]="setOptionsToUpdataField"
        [switchLangField]="switchLangField"

      ></app-radiobutton>
    </div>
      <!-- display field when type  = file upload   -->
      <div *ngIf="field.type == 'File Upload' ">
        <app-file-upload
          action="viwe"
          [field]="field"
          [fields]="fields"
          [updateField]="updateField"
          [fieldTypeArray]="fieldTypeArray"
          [setFieldType]="setFieldType"
          [selectedField]="selectedField"
          [deleteOption]="deleteOption"
          [createFieldForm]="createFieldForm"
          [addAnotherOption]="addAnotherOption"
          [setOptionsToUpdataField]="setOptionsToUpdataField"
          [switchLangField]="switchLangField"

        ></app-file-upload>
      </div>
        <!-- display field when type  = Rating  -->
        <div *ngIf="field.type == 'Rating' ">
          <app-rating
            action="viwe"
            [field]="field"
            [fields]="fields"
            [updateField]="updateField"
            [fieldTypeArray]="fieldTypeArray"
            [setFieldType]="setFieldType"
            [selectedField]="selectedField"
            [deleteOption]="deleteOption"
            [createFieldForm]="createFieldForm"
            [addAnotherOption]="addAnotherOption"
            [setOptionsToUpdataField]="setOptionsToUpdataField"
            [switchLangField]="switchLangField"

          ></app-rating>
        </div>
           <!-- display field when type  = Dropdown   -->
           <div *ngIf="field.type == 'Dropdown' ">
            <app-dropdown
              action="viwe"
              [field]="field"
              [fields]="fields"
              [updateField]="updateField"
              [fieldTypeArray]="fieldTypeArray"
              [setFieldType]="setFieldType"
              [selectedField]="selectedField"
              [deleteOption]="deleteOption"
              [createFieldForm]="createFieldForm"
              [addAnotherOption]="addAnotherOption"
              [setOptionsToUpdataField]="setOptionsToUpdataField"
              [switchLangField]="switchLangField"

            ></app-dropdown>
          </div>
    <!-- display field when type  = TextArea    -->
    <div *ngIf="field.type == 'TextArea' ">
      <app-textarea
        action="viwe"
        [field]="field"
        [fields]="fields"
        [updateField]="updateField"
        [fieldTypeArray]="fieldTypeArray"
        [setFieldType]="setFieldType"
        [selectedField]="selectedField"
        [deleteOption]="deleteOption"
        [createFieldForm]="createFieldForm"
        [addAnotherOption]="addAnotherOption"
        [setOptionsToUpdataField]="setOptionsToUpdataField"
        [switchLangField]="switchLangField"

      ></app-textarea>
    </div>
    <!-- display field when type  = Toggle Switch     -->
    <div *ngIf="field.type == 'Toggle Switch' ">
      <app-toggle-switch
        action="viwe"
        [field]="field"
        [fields]="fields"
        [updateField]="updateField"
        [fieldTypeArray]="fieldTypeArray"
        [setFieldType]="setFieldType"
        [selectedField]="selectedField"
        [deleteOption]="deleteOption"
        [createFieldForm]="createFieldForm"
        [addAnotherOption]="addAnotherOption"
        [setOptionsToUpdataField]="setOptionsToUpdataField"
        [switchLangField]="switchLangField"

      ></app-toggle-switch>
    </div>
      <!-- display field when type  =  Time Picker    -->
      <div *ngIf="field.type == 'Time Picker' ">
        <app-time-picker
          action="viwe"
          [field]="field"
          [fields]="fields"
          [updateField]="updateField"
          [fieldTypeArray]="fieldTypeArray"
          [setFieldType]="setFieldType"
          [selectedField]="selectedField"
          [deleteOption]="deleteOption"
          [createFieldForm]="createFieldForm"
          [addAnotherOption]="addAnotherOption"
          [setOptionsToUpdataField]="setOptionsToUpdataField"
          [switchLangField]="switchLangField"

        ></app-time-picker>
      </div>
      <!-- display field when type  =  image    -->
      <div *ngIf="field.type == 'Image'">
        <app-image
          action="viwe"
          [field]="field"
          [fields]="fields"
          [updateField]="updateField"
          [fieldTypeArray]="fieldTypeArray"
          [setFieldType]="setFieldType"
          [selectedField]="selectedField"
          [deleteOption]="deleteOption"
          [createFieldForm]="createFieldForm"
          [addAnotherOption]="addAnotherOption"
          [setOptionsToUpdataField]="setOptionsToUpdataField"
          [switchLangField]="switchLangField"

        ></app-image>
      </div>
        <!-- display field when type  =  number    -->
        <div *ngIf="field.type == 'Number'">
          <app-number
            action="viwe"
            [field]="field"
            [fields]="fields"
            [updateField]="updateField"
            [fieldTypeArray]="fieldTypeArray"
            [setFieldType]="setFieldType"
            [selectedField]="selectedField"
            [deleteOption]="deleteOption"
            [createFieldForm]="createFieldForm"
            [addAnotherOption]="addAnotherOption"
            [setOptionsToUpdataField]="setOptionsToUpdataField"
            [switchLangField]="switchLangField"

          ></app-number>
        </div>
         <!-- display field when type  =  Label    -->
         <div *ngIf="field.type == 'Label'">
          <app-label
            action="viwe"
            [field]="field"
            [fields]="fields"
            [updateField]="updateField"
            [fieldTypeArray]="fieldTypeArray"
            [setFieldType]="setFieldType"
            [selectedField]="selectedField"
            [deleteOption]="deleteOption"
            [createFieldForm]="createFieldForm"
            [addAnotherOption]="addAnotherOption"
            [setOptionsToUpdataField]="setOptionsToUpdataField"
            [switchLangField]="switchLangField"

          ></app-label>
        </div>
  </div>
</div>
